<h1> <strong>Cafés Helados</strong> </h1>
<hr>
<h3> <strong>Shaken Espresso</strong> </h3>
<hr>
<div class="seccionimg">
    <img src="../../../assets/img/2022-03_Shaken_Espresso_Frio_Avellana-removebg-preview.png" alt="">
    <p> <strong>Avellana Shaken Espresso <br> con Avena Helado</strong> </p>
    <img src="../../../assets/img/2022-03_Shaken_Espresso_Frio_Chocolate-removebg-preview.png" alt="">
    <p><strong>Chocolate Shaken Espresso <br> con Avena Helado</strong> </p>
</div>
<hr>
<h3> <strong>Pacchiato</strong> </h3>
<hr>
<div class="seccionimg2">
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FIced%20Caramel%20Macchiato%20425x425%20sin%20fondo_0.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Skinny Caramel Macchiato Helado</strong> </p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FIced%20Caramel%20Macchiato%20425x425%20sin%20fondo_0.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Caramel Macchiato Helado</strong> </p>
