
<h1> <strong>Cafés Calientes</strong> </h1>
<hr>
<h3> <strong>Lattes</strong> </h3>
<hr>
<div class="seccionimg">
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FSkinny%20Vainilla%20Latte%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Skinny Vainilla Latte</strong> </p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FVainilla%20latte%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Vainilla Latte</strong> </p>
    <img src="../../../assets/img/2022-02_Latte_425x425_verde_1-removebg-preview.png" alt="">
    <p><strong>Latte</strong> </p>
    <img src="../../../assets/img/2022-02_Dulce_de_leche_latte_425x425_verde_1-removebg-preview.png" alt="">
    <p><strong>Dulce De Leche Latte</strong> </p>

</div>
