<h1> <strong>Frapuccino</strong> </h1>
<hr>
<h3> <strong>Frapuccino Con Café</strong> </h3>
<hr>
<div class="seccionimg">
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FCafe%20Frapp%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Café Frappuccino</strong></p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FCaramel%20Frapp%20425x425%20sin%20fondo%20(1).png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Caramel Frappuccino</strong></p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FWhite%20Mocha%20Frapp%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p> <strong>Mocha Blanco Frappuccino</strong> </p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FMocha%20Frapp%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p> <strong>Mocha Frappuccino</strong></p>
</div>