<h1> <strong>Bakery</strong> </h1>
<hr>
<h3> <strong>Recien Horneados</strong> </h3>
<hr>
<div class="seccionimg">
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FCroissant-Relleno-Avellana-425-x-425.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Croissant Relleno con <br> Crema de Avellanas</strong> </p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FCroissant-425-x-425.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Croissant</strong> </p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FChocolate-Croissant-425-x-425.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong> Chocolate Croissant</strong></p>
    <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FMezzaluna-425-x-425_0.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt="">
    <p><strong>Medialuna</strong></p>

</div>