<h5 class="h5">¡Disfrutalos!</h5>
<h4> <strong>Conoce nuestras bebidas y alimentos de temporada</strong></h4> 
<hr> 
<h3> <strong>Bebidas</strong></h3>
<hr> 

<div class="lineaimg1">
<a class="cafelatte" href="../../cafelatte/"> <img class="img1" src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FFlat%20White%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt=""></a>

<p class="platte"><strong>CafeLatte</strong></p>

<a class="cafehelado" href="../../cafehelado/"> <img class="img2" src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FIced%20Caramel%20Macchiato%20425x425%20sin%20fondo_0.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt=""></a>
</div>
<p class="phelado"><strong>CafeHelado</strong> </p>

<div class="lineaimg2">
  <a class="frapuccino" href="../../frapuccino/">  <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FDulce%20de%20leche%20Frapp%20425x425%20sin%20fondo.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt=""> </a>
  <p class="pfrapuccino"><strong>Frapuccino</strong> </p>
   
</div>

<hr>
<h5> <strong>Comida</strong> </h5>
<hr>

<div class="lineacomida">
   <a class="comida" href="../../comida/"> <img src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-03%2FCroissant-Relleno-Avellana-425-x-425.png?auto=format,compress&q=70&crop=focalpoint&ar=1:1.0&w=180&fit=crop" alt=""> </a>
   <p><strong>Facturas</strong> </p>
</div>
